##Flask
# Python関係
flask-server/__pycache__/
*.py[cod]

# 仮想環境
flask-server/venv/


# エディタ設定
.vscode/
.idea/

# OSごとの不要ファイル
.DS_Store
Thumbs.db

#database
flask-server/instance/

##React
# Node modules
client/node_modules/

# Build output
dist/
build/

# System files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor settings
.vscode/
.idea/
*.swp
